<div class="container" style="width: 20rem;">
        <h3 class="my-3">Favourite Movies List</h3>
        <div class="alert alert-success d-none" id="addalert">
          Item added to cart successfully!
        </div>
        <div class="cart mx-auto border" style="border-radius:5px;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" id="deleterow">
              <div class="row">
                <div class="col-6">Avengers</div>
                <div class="col-6 text-right">&#8377;520,324,502</div>
              </div>
              <div class="row">
                <div class="col-6 genre">Superhero</div>
                <div class="col-6 text-right mt-2">
                  <a href="#"
                    ><i id="delete" class="material-icons grey"
                      >delete_outline</i
                    ></a
                  >
                </div>
              </div>
            </li>
            <li class="list-group-item" id="deleterow1">
              <div class="row">
                <div class="col-6">Godfather II</div>
                <div class="col-6 text-right">&#8377; 520,562,129</div>
              </div>
              <div class="row">
                <div class="col-6 genre">Drama</div>
                <div class="col-6 text-right mt-2">
                  <a href="#"
                    ><i id="delete1" class="material-icons grey"
                      >delete_outline</i
                    ></a
                  >
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-4 card-title">Total</div>
                <div class="col-8 text-right">2</div>
              </div>
            </li>
          </ul>
        </div>
      </div>